body{width: 100%; overflow-x: hidden;}
h1{font-weight: bold;} h2{font-weight: bold;} h3{font-weight: bold;}

.navTitle{font-weight: bold; font-size: 3.5vh;}
.navEngTitle{font-size: 1.5vh;}
.navbar-brand{transition: 0.3s; line-height: 10px;}
.navbar-brand:hover{color: lightgray; transition: 0.3s;}
.banner{width:100%;}

.mBtm10{margin-bottom: 10px;} .mBtm20{margin-bottom: 20px;} .mBtm30{margin-bottom: 30px;}
.mTop10{margin-top: 10px;} .mTop20{margin-top: 20px;} .mTop30{margin-top: 30px;}
.mR10{margin-right: 10px;} .mR20{margin-right: 20px;} .mR30{margin-right: 30px;}
.mL10{margin-left: 10px;} .mL20{margin-left: 20px;} .mL30{margin-left: 30px;}

@media (max-width: 767px) {
.hidden-mobile {
  display: none;
}
}

.tabText{color:gray; transition: 0.3s;}
.tabText:hover{color:black; transition: 0.3s;}

.card-text{color:gray;}

.dropdown-item:hover{background: gray; transition: 0.3s; color:white;}
.noDeco{text-decoration: none;}

.nav-link{color:white;}
.nav-link.active{color:lightgray !important;}